body {
  background-color: #f2f2f2;
  font-family: helvetica;
}

.header {
  margin-bottom: -5px;
  background-color: white;
}

#portrait {
  width: 80px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin: 12px;
}

#identity {
  color: #3b4b75;
  text-align: left;
}
#identity h1 {
  font-weight: bold;
  font-size: 40px;
}
#identity h4 {
  font-size: 15px;
}

#navi{
  text-align: right;
  margin-top: 65px;
}
#navi a{
  color: #3b4b75;
  text-decoration: none;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
}

.main {
  color: #3b4b75;
  padding: 10px 55px;
}

.main h3 {
  font-weight: bold;
  font-size: 30px;
}

.main p {
  font-size: 17px;
}

.detail {
  color: #6f7b8e;
  font-size: 12px;
}

.bg-column {
  width: 500px;
  float: left;
}

#fun {
  list-style: none;
}



.connect {
  width: 60px;
  margin-right: 15px;
}
